.idk{

    /* flex-wrap გამოიყენება მაშინ, როცა ელემენტები ერთ რიგზე არ ეტევა, wrap გადაიტანს ახალ ხაზზე ავტომატურად */
    flex-wrap: wrap;  

    /* flex-flow ეს არის შემოკლებული ფორმა, ანუ შეგვიძლია ერთად დავწეროთ flex-direction და flex-wrap */
    flex-flow: column nowrap;

    /* order გამოიყენება რიგის შესაცვლელად, ქარხნული მნიშვნელობა - 0 */
    order: 1;
}