div{background-color: rgb(41, 93, 41); font-size: xx-large;}
#home{background-color: coral;}
#about{text-align: left; font-size: xx-large;}
#about1{background-color: bisque;}
#home1{background-color: bisque;}
#shop1{background-color: bisque;}
#forms{border: 10px;}
