*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("./P3-JUNE-iStock-2152788400.jpg");
    display: flex;
    justify-content: center;
    align-items: center
}

.parent{
    background-color: white;
    width: 1200px;
    height: 600px;
    display: flex;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}

.info{
    flex-direction: row;
    justify-content: flex-start;
    margin-right:  0px;
    margin-top: 200px;

}

.links{
    list-style-type: none;
    font-size: x-large;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 10px;
}

#button{
    font-size: x-large;
    color: white;
    background-color: blue;
    border-radius: 10px;
}