*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent{
    background-image: url("./tbilisi.jpg") ;
    background-position: center;
    width: 350px;
    height: 350px;
    display: flex;
    border-radius: 30px;
    flex-direction:row;
    row-gap: 20px;
}


.child{
    font-size: x-large;
    text-align: center;
    margin-top: 50px;
}

